docs/n8n/sense_summarize.json
{
  "name": "Sense - Summarize (resumo de conversa)",
  "nodes": [
    {
      "id": "wh-summarize",
      "name": "Webhook Summarize",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "summarize",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "sense-summarize"
    },
    {
      "id": "code-montar-texto",
      "name": "Montar texto das mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "jsCode": "// Payload: tenant_id, conversation_id, contact_phone, contact_name, messages[], assigned_to_id, department_id, closed_at\nconst raw = $input.first().json;\nconst body = raw.body && typeof raw.body === 'object' ? raw.body : raw;\nconst messages = Array.isArray(body.messages) ? body.messages : [];\nconst text = messages\n  .map(m => `${m.sender_name || m.direction || '?'}: ${(m.content || '').trim()}`)\n  .filter(Boolean)\n  .join('\\n\\n');\nconst model = (body.model && String(body.model).trim()) || 'qwen3:14b';\nconst prompt = `Você é um assistente de análise de atendimento. Analise as mensagens abaixo e responda SOMENTE com um objeto JSON válido, sem texto adicional, sem markdown, sem explicações.\n\nFormato exato:\n{\n  \"subject\": \"<assunto principal em uma frase curta>\",\n  \"sentiment\": \"<positivo | neutro | negativo>\",\n  \"satisfaction\": <número inteiro de 1 a 5>,\n  \"confidence\": <número decimal entre 0 e 1 indicando sua confiança na análise>,\n  \"summary\": \"<resumo conciso da conversa em 2-4 frases>\"\n}\n\nMensagens:\\n${text || '(vazio)'}`;\nreturn [{ json: { prompt, model } }];\n"
      }
    },
    {
      "id": "http-llm",
      "name": "LLM Resumo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.model || 'qwen3:14b', prompt: $json.prompt, stream: false } }}",
        "options": {}
      },
      "notesInFlow": true,
      "notes": "Ajuste URL e model para seu LLM (Ollama/OpenAI). Backend espera JSON com summary, subject, sentiment, satisfaction."
    },
    {
      "id": "code-extrair",
      "name": "Extrair summary, subject, sentiment, satisfaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "// Resposta do LLM: extrair summary, subject, sentiment, satisfaction, confidence via JSON\nconst item = $input.first().json;\nconst rawText = (item.response || item.message?.content || '').trim();\n\nlet parsed = null;\n\n// 1. Tenta JSON.parse direto\ntry {\n  parsed = JSON.parse(rawText);\n} catch (_) {\n  // 2. Tenta extrair bloco JSON com regex\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { parsed = JSON.parse(match[0]); } catch (_) {}\n  }\n}\n\n// 3. Normaliza campos\nconst summary = (parsed?.summary || rawText || '').trim();\nconst subject = (parsed?.subject || '').trim();\n\nconst rawSentiment = String(parsed?.sentiment || '').toLowerCase().trim();\nconst sentiment = ['positivo', 'neutro', 'negativo'].includes(rawSentiment) ? rawSentiment : '';\n\nconst rawSatisfaction = parsed?.satisfaction;\nconst satisfactionNum = parseInt(rawSatisfaction, 10);\nconst satisfaction = (!isNaN(satisfactionNum) && satisfactionNum >= 1 && satisfactionNum <= 5) ? satisfactionNum : null;\n\nconst rawConfidence = parsed?.confidence;\nconst confidenceNum = parseFloat(rawConfidence);\nconst confidence = (!isNaN(confidenceNum) && confidenceNum >= 0 && confidenceNum <= 1) ? confidenceNum : null;\n\nreturn [{ json: { summary, subject, sentiment, satisfaction, confidence } }];\n"
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook Summarize": { "main": [[{ "node": "Montar texto das mensagens", "type": "main", "index": 0 }]] },
    "Montar texto das mensagens": { "main": [[{ "node": "LLM Resumo", "type": "main", "index": 0 }]] },
    "LLM Resumo": { "main": [[{ "node": "Extrair summary, subject, sentiment, satisfaction", "type": "main", "index": 0 }]] },
    "Extrair summary, subject, sentiment, satisfaction": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "meta": { "templateCredsSetupCompleted": false }
}
