docs/n8n_Sense_Gateway_IA_Secretaria.json
{
  "name": "Sense - Gateway IA (teste e Secretária)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1936, 176],
      "id": "ea9924d2-3359-4082-b230-574ec9b9a7e2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gateway-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "73d49491-8886-4e21-9a9f-b34ce7e5ff1a",
      "name": "Webhook Sense IA1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [592, 176],
      "webhookId": "sense-ia-gateway",
      "notesInFlow": true,
      "notes": "URL: POST /webhook/gateway-ia (ou /webhook-test/gateway-ia). Configure na Sense: Configurações > IA > Webhook da IA."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-chat",
              "leftValue": "={{ $json.useChat }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2fb5ecbd-ecf6-44fe-ac7a-16723c49a0f0",
      "name": "Usar chat com histórico?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1008, 176]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.20.66:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $json.model, \"messages\": $json.messages, \"stream\": false } }}",
        "options": {}
      },
      "id": "7754e007-9b26-4f10-9c2f-eb06f32185dc",
      "name": "Chamar Ollama (chat)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1232, 64],
      "notesInFlow": true,
      "notes": "Ajuste a URL para sua instância Ollama (ex.: credencial + /api/chat). Usado quando há histórico (messages)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.20.66:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $json.model, \"prompt\": $json.fullPrompt, \"stream\": false } }}",
        "options": {}
      },
      "id": "81aeb870-15d4-41aa-8702-afe3f9322d4e",
      "name": "Chamar Ollama (generate)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1232, 272],
      "notesInFlow": true,
      "notes": "Ajuste a URL para sua instância Ollama. Usado quando não há histórico (uma única mensagem)."
    },
    {
      "parameters": {},
      "id": "092c84e9-7255-4942-86df-204406afe7f3",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1456, 176]
    },
    {
      "parameters": {
        "jsCode": "// Entrada: body do webhook (Sense envia action, messages, message, knowledge_items, memory_items, departments, model, prompt, etc.)\nconst raw = $input.first().json;\nconst body = raw.body && typeof raw.body === 'object' ? raw.body : raw;\n\n// Normaliza conteúdo de mensagem: vazio = áudio ainda não transcrito; já pode vir '[Áudio] texto' ou '[Áudio em processamento]' do Sense\nfunction normalizarConteudo(msg) {\n  const c = (msg && msg.content != null) ? (typeof msg.content === 'string' ? msg.content : String(msg.content)) : '';\n  const t = c.trim();\n  if (t === '') return '[Áudio em processamento]';\n  return c;\n}\n\nconst isSecretary = (body.action === 'secretary' || body.agent_type === 'secretary');\nconst promptFromBody = body.prompt || (body.metadata && body.metadata.prompt) || '';\nconst audioInstrucao = ' Mensagens de áudio do usuário chegam como \"[Áudio] <transcrição>\" ou \"[Áudio em processamento]\" quando a transcrição ainda não está pronta; responda com naturalidade e, se for \"[Áudio em processamento]\", pode pedir que o usuário aguarde ou repita em texto.';\nconst defaultSecretaryPrompt = 'Você é a secretária virtual da empresa. Use o contexto abaixo (dados da empresa, histórico do contato e departamentos) para responder de forma cordial e objetiva.' + audioInstrucao + ' Se o assunto for claramente de um departamento específico, ao final da resposta você pode indicar em uma linha: SUGERIR_DEPARTAMENTO: <uuid do departamento> e RESUMO_PARA_DEPARTAMENTO: <resumo em uma frase>. Caso contrário, apenas responda normalmente.';\nconst systemPrompt = (promptFromBody && String(promptFromBody).trim()) ? String(promptFromBody).trim() : (isSecretary ? defaultSecretaryPrompt : 'Você é um assistente prestativo.');\n\nconst knowledgeItems = Array.isArray(body.knowledge_items) ? body.knowledge_items : [];\nconst contextParts = [];\nif (knowledgeItems.length > 0) {\n  contextParts.push(knowledgeItems.map(i => '## ' + (i.title || 'Documento') + '\\n' + (i.content || '')).join('\\n\\n'));\n}\nif (isSecretary && Array.isArray(body.memory_items) && body.memory_items.length > 0) {\n  contextParts.push('Histórico relevante do contato:\\n' + body.memory_items.map(m => '- ' + (m.content || '')).join('\\n'));\n}\nif (isSecretary && Array.isArray(body.departments) && body.departments.length > 0) {\n  contextParts.push('Departamentos para encaminhamento (id, nome, palavras-chave):\\n' + body.departments.map(d => '- ' + d.id + ': ' + d.name + ' (' + (d.routing_keywords || []).join(', ') + ')').join('\\n'));\n}\nconst context = contextParts.filter(Boolean).join('\\n\\n');\nconst model = (body.metadata && body.metadata.model) ? String(body.metadata.model).trim() : (body.model ? String(body.model).trim() : 'llama3.2');\nconst knowledgeItemsCount = knowledgeItems.length;\n\nfunction uuid() { return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/x/g, () => Math.floor(Math.random()*16).toString(16)).replace('y', () => ((Math.floor(Math.random()*4)+8).toString(16))); }\nconst requestId = body.request_id || body.metadata?.request_id || uuid();\nconst traceId = body.trace_id || body.metadata?.trace_id || uuid();\n\nconst useChat = Array.isArray(body.messages) && body.messages.length > 0;\n\nif (useChat) {\n  const systemContent = [systemPrompt, context ? 'Contexto para consulta:\\n' + context : ''].filter(Boolean).join('\\n\\n');\n  const messages = [\n    { role: 'system', content: systemContent },\n    ...body.messages.map(m => {\n      const role = (m.role || (m.direction === 'incoming' ? 'user' : 'assistant')).toLowerCase();\n      const content = normalizarConteudo(m);\n      return { role: role === 'user' || role === 'assistant' ? role : 'user', content };\n    })\n  ];\n  return [{ json: { useChat: true, model, messages, knowledgeItemsCount, isSecretary, requestId, traceId } }];\n}\n\nconst userMessage = normalizarConteudo(body.message || {});\nconst fullPrompt = [\n  systemPrompt,\n  context ? 'Contexto para consulta:\\n' + context : '',\n  'Mensagem do usuário: ' + userMessage\n].filter(Boolean).join('\\n\\n');\n\nreturn [{ json: { useChat: false, model, fullPrompt, knowledgeItemsCount, isSecretary, requestId, traceId } }];\n"
      },
      "id": "2bd9e583-4b25-4cab-9946-b1d6e57cc3a5",
      "name": "Montar prompt e modelo2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [784, 176]
    },
    {
      "parameters": {
        "jsCode": "const ollama = $input.first().json;\nconst prev = $('Montar prompt e modelo2').first().json;\nlet replyText = (ollama.message && ollama.message.content)\n  ? String(ollama.message.content).trim()\n  : (ollama.response && String(ollama.response).trim())\n    ? String(ollama.response).trim()\n    : '(Sem resposta do modelo.)';\nconst evalDurationNs = ollama.eval_duration || 0;\nconst latencyMs = evalDurationNs > 0 ? Math.round(evalDurationNs / 1e6) : 0;\n\nconst out = {\n  reply_text: replyText,\n  status: 'success',\n  meta: {\n    model: ollama.model || prev.model,\n    latency_ms: latencyMs,\n    rag_hits: prev.knowledgeItemsCount || 0\n  },\n  request_id: prev.requestId || null,\n  trace_id: prev.traceId || null\n};\n\nif (prev.isSecretary && replyText) {\n  const lines = replyText.split('\\n');\n  let suggested_department_id = null;\n  let summary_for_department = null;\n  for (const line of lines) {\n    const depMatch = line.trim().match(/SUGERIR_DEPARTAMENTO:\\s*([a-fA-F0-9-]{36})/i);\n    const sumMatch = line.trim().match(/RESUMO_PARA_DEPARTAMENTO:\\s*(.+)/i);\n    if (depMatch) suggested_department_id = depMatch[1].trim();\n    if (sumMatch) summary_for_department = sumMatch[1].trim().slice(0, 2000);\n  }\n  const cleanLines = lines.filter(l => !l.trim().match(/SUGERIR_DEPARTAMENTO:/i) && !l.trim().match(/RESUMO_PARA_DEPARTAMENTO:/i));\n  out.reply_text = cleanLines.join('\\n').replace(/\\n\\n+/g, '\\n\\n').trim() || '(Sem resposta do modelo.)';\n  if (suggested_department_id) out.suggested_department_id = suggested_department_id;\n  if (summary_for_department) out.summary_for_department = summary_for_department;\n}\n\nreturn [{ json: out }];\n"
      },
      "id": "b666ecf5-55a4-481e-989b-7a08e82697a9",
      "name": "Formatar resposta para o Sense2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 176]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Sense IA1": {
      "main": [[{ "node": "Montar prompt e modelo2", "type": "main", "index": 0 }]]
    },
    "Montar prompt e modelo2": {
      "main": [[{ "node": "Usar chat com histórico?1", "type": "main", "index": 0 }]]
    },
    "Usar chat com histórico?1": {
      "main": [
        [{ "node": "Chamar Ollama (chat)1", "type": "main", "index": 0 }],
        [{ "node": "Chamar Ollama (generate)1", "type": "main", "index": 0 }]
      ]
    },
    "Chamar Ollama (chat)1": {
      "main": [[{ "node": "Merge1", "type": "main", "index": 0 }]]
    },
    "Chamar Ollama (generate)1": {
      "main": [[{ "node": "Merge1", "type": "main", "index": 1 }]]
    },
    "Merge1": {
      "main": [[{ "node": "Formatar resposta para o Sense2", "type": "main", "index": 0 }]]
    },
    "Formatar resposta para o Sense2": {
      "main": [[{ "node": "Respond to Webhook1", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
